.section {
    padding: 6rem 0;
    overflow: hidden;
    background-color: var(--bg-color);
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.title {
    font-family: "Xeroda", sans-serif;
    color: var(--item-color);
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
    transition: all 1s ease;
}

@media (min-width: 768px) {
    .title {
        font-size: 2.25rem;
    }
}

.title.visible {
    opacity: 1;
    transform: translateY(0);
}

.title.hidden {
    opacity: 0;
    transform: translateY(2.5rem);
}

.sliderWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 2rem 0;
}

.sliderWrapper::before,
.sliderWrapper::after {
    content: '';
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.sliderWrapper::before {
    left: 0;
    background: linear-gradient(to right, var(--bg-color) 0%, transparent 100%);
}

.sliderWrapper::after {
    right: 0;
    background: linear-gradient(to left, var(--bg-color) 0%, transparent 100%);
}

.sliderTrack {
    color: var(--item-color);
    display: flex;
    gap: 2rem;
    animation: slideRight 50s linear infinite;
    width: fit-content;
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-33.333%);
    }
}

.skillCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-width: 90px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.skillIcon {
    font-size: 35px;
}

.skillName {
    font-size: 1rem;
    font-family: "Plus", sans-serif;
    font-weight: 600;
}