.courseContainer {
    direction: ltr;
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
    font-family: sans-serif;
    overflow: auto;
}

.sidebar {
    width: 300px;
    direction: rtl;
    background-color: var(--color-muted-3);
    color: var(--item-color);
    padding: 5% 20px 20px 20px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transition: transform 0.35s ease-in-out, box-shadow 0.3s ease;
}

.sidebar::-webkit-scrollbar {
    width: 10px;
}

.sidebar::-webkit-scrollbar-track {
    background: var(--bg-color);
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #0070f3;
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #0059c9;
}

.sidebar.open {
    transform: translateX(0);
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    font-family: 'Cairo';
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 13px;
}

/* 
.sidebar hr {
    border-bottom: 1px solid #000000;
    width: 80%;
} */

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    font-family: "ReadexPro";
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
}

.sidebar li:hover {
    background: var(--hover-color);
    color: var(--item-color);
}

ul li.active {
    background: #007bff;
    color: rgb(255, 255, 255);
}

.lessonContent {
    background: var(--container-color);
    color: var(--item-color);
    flex: 1;
    margin-right: 300px;
    padding: 5% 20px 20px 20px;
}

.navButton {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.navButton button {
    padding: 10px 20px;
    background: #ddd;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.navButton button:hover {
    background: #ccc;
}

.navButton button:disabled {
    background: #eee;
    color: #999;
    cursor: not-allowed;
}

.menuButton {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
}

@media (max-width: 768px) {
    .courseContainer {
        direction: ltr;
        display: block;
        flex-direction: row-reverse;
        min-height: 100vh;
        font-family: sans-serif;
        overflow: hidden;
    }

    .lessonContent {
        min-width: 100%;
    }

    .sidebar {
        transform: translateX(300);
        position: fixed;
        right: 0;
        width: 250px;
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .menuButton {
        display: block;
    }

    .lessonContent {
        margin-left: 0;
        padding-top: 60px;
    }
}