.courseContainer {
    direction: ltr;
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
    font-family: sans-serif;
    overflow-x: hidden;
}


.sidebar {
    width: 300px;
    direction: rtl;
    background-color: var(--color-muted-3);
    color: var(--item-color);
    padding: 5% 20px 20px 20px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transition: transform 0.35s ease-in-out, box-shadow 0.3s ease;
}

.sidebar::-webkit-scrollbar {
    width: 10px;
}

.sidebar::-webkit-scrollbar-track {
    background: var(--bg-color);
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #0070f3;
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #0059c9;
}

.sidebar.open {
    transform: translateX(0);
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
}

.headSidebar {
    display: flex;
    justify-content: space-between;
}

.closeButton {
    display: none;
    background-color: red;
    border: none;
    color: white;
    font-size: 18px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.sidebar h2 {
    font-family: 'Cairo';
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 13px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    font-family: "ReadexPro";
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
}

.sidebar li:hover {
    background: #007bff;
    color: rgb(255, 255, 255);
}

ul li.active {
    background: #007bff;
    color: rgb(255, 255, 255);
}

.lessonContent {
    background: var(--container-color);
    color: var(--item-color);
    flex: 1;
    margin-right: 300px;
    padding: 5% 20px 20px 20px;
    max-width: calc(100% - 300px);
}

.menuButton {
    display: none;
    position: fixed;
    top: 45px;
    right: 35px;
    color: white;
    padding: 10px 15px;
    font-size: 22px;
    z-index: 100;
    --bubble-size: 48px;
    width: var(--bubble-size);
    height: var(--bubble-size);
    border-radius: 50%;
    border: none;
    background: var(--menu);
    cursor: pointer;
    padding: 0;
}

@media (max-width: 768px) {
    .sidebar {
        width: 250PX;
        transform: translateX(100%);
        position: fixed;
        z-index: 1000;
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .menuButton {
        display: block;
    }

    .closeButton {
        display: block;
    }


    .lessonContent {
        margin-right: 0;
        max-width: 100%;
        padding-top: 60px;
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeUp {
    opacity: 0;
    animation: fadeUp 0.7s ease-out forwards;
}