@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

$primary-color: #af401e;
@mixin center-flex {
  background-color: red;
  color: black;
  text-align: center;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0 2rem;
  background: transparent !important;
  position: absolute;
  .content {
    position: relative;
    z-index: 10;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    text-align: center;
    .contentInner {
      max-width: 900px;
      margin: 0 auto;
      .title {
        font-family: "plus", serif;
        font-size: 60px;
        font-weight: 400;
        color: var(--item-color);
        animation: slideUp 0.6s ease-out;
      }
      .contactBtn {
        background-color: #000;
      }
    }
  }
}

.navHeader {
  height: 0px;
  z-index: 50;
  .navInner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: none;
    box-shadow: none;
    padding: 19px 24px;
    .nav-mobile-toggle {
      display: flex;
      flex-direction: row-reverse;
      .mobile-toggle-container {
        display: none;
        align-items: center;
        font-size: 20px;
        padding: 0;
        .mobile-toggle-btn {
          display: none;
          background: none;
          border: none;
          padding: 6px;
          border-radius: 8px;
          color: var(--item-color);
          cursor: pointer;
        }
        p {
          font-family: "Outfit", sans-serif;
          padding-bottom: 5px;
          color: var(--item-color);
        }
      }
    }
    .sidebar {
      position: relative;
      left: 0;
      height: calc(100vh - var(--nav-height));
      width: 0;
      opacity: 0;
      pointer-events: none;
      transition: 0.3s ease;
      &.open {
        width: 190px;
        opacity: 1;
        pointer-events: auto;
      }
      .nav-item {
        padding: 6px 2px;
      }
    }
  }
}

.theme-toggle-container {
  display: none;
  margin: 0 12px;
}

.theme-toggle-btn {
  background: none;
  border: none;
  padding: 6px;
  cursor: pointer;
  color: var(--item-color);
}

.all-link-container {
  display: none;
  align-items: center;
  gap: 6px;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  color: var(--nav-link);
  cursor: pointer;
}

.navbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-logo a {
  font-size: 24px;
  font-weight: 700;
  color: var(--item-color);
  text-decoration: none;
}

.navbar-logo span {
  color: var(--accent);
}

.navbar-cta {
  margin-left: auto;
}

/* ===== Button ===== */
.btn-outline {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 999px;
  border: 1px solid var(--border);
  background-color: var(--btn-outline);
  color: var(--muted);
  cursor: pointer;
}

.btn-outline:hover {
  background-color: var(--btn-outline-hover);
}

/* ===== Sidebar ===== */

.nav-link {
  display: flex;
  align-items: center;
  gap: 3px;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--nav-link);
  font-family: "Outfit", sans-serif;
  font-size: 14px;
}

.nav-link:hover {
  color: var(--nav-link-hover);
  font-weight: 800;
}

.rotate {
  transform: rotate(180deg);
  transition: 0.2s;
}

/* ===== Dropdown ===== */
.dropdown {
  padding-left: 16px;
  color: var(--nav-link);
  font-family: "Outfit", sans-serif;
  font-size: 14px;
}

.dropdown a {
  color: var(--nav-link);
  display: block;
  font-size: 13px;
  padding: 6px 0;
  text-decoration: none;
}

.dropdown a:hover {
  color: var(--nav-link-hover);
}

/* ===== Mobile Menu ===== */
.mobile-menu {
  position: fixed;
  top: var(--nav-height);
  inset-inline: 0;
  height: calc(100vh - var(--nav-height));
  padding: 24px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 40;
  background-color: var(--bg-color);
  backdrop-filter: blur(100px) !important;
  -webkit-backdrop-filter: blur(100px);
}

.mobile-menu.open {
  opacity: 1;
  pointer-events: auto;
}

.nav-link.large {
  font-size: 20px;
  padding: 12px 0;
}

.mobile-btn {
  width: 100%;
  margin-top: 24px;
}

/* ===== Responsive ===== */
@media (max-width: 1000px) {
  .nav-inner {
    position: fixed;
    width: 100%;
    flex-direction: row-reverse;
    background-color: var(--bg-color);
    z-index: 110;
  }

  .navbar-logo {
    position: absolute;
    left: 10%;
    transform: translateX(-50%);
  }

  .sidebar {
    display: none;
  }

  .mobile-toggle-btn {
    display: block;
  }

  .navbar-cta {
    display: none;
  }

  .mobile-toggle-container,
  .all-link-container {
    display: flex;
  }

  .theme-toggle-container {
    display: block;
  }
}
