html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::selection {
  background: var(--hover-color);
  color: var(--ios-blue);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Font */
@font-face {
  font-family: 'Xeroda';
  src: url('../../../public/font/Xeroda.otf') format('opentype');
}

@font-face {
  font-family: 'Cairo';
  src: url('../../../public/font/Cairo.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus';
  src: url('../../../public/font/PlusJakartaSans.ttf') format('truetype');
}

@font-face {
  font-family: 'ReadexPro';
  src: url('../../../public/font/ReadexPro.ttf') format('truetype');
}

@font-face {
  font-family: 'Tajawal';
  src: url('../../../public/font/Tajawal.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../../../public/font/PlayfairDisplay.ttf') format('truetype');
}

@font-face {
  font-family: 'TheYearofHandicrafts';
  src: url('../../../public/font/TheYearofHandicrafts-Regular.otf') format('opentype');
}

.ar-font {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
}

.en-font {
  font-family: 'Plus', sans-serif;
  direction: ltr;
}

.title-ar {
  font-family: "Cairo", sans-serif;
}

.title-en {
  font-family: "Playfair Display", sans-serif;
}

.but-ar {
  font-family: "Cairo", sans-serif;
}

.mainTitle-en {
  font-family: "Xeroda", sans-serif;
}

.mainTitle-ar {
  font-family: "TheYearofHandicrafts", sans-serif;
}

:root {
  --font-title-size: 2.5rem;
  --ios-blue: rgb(0, 123, 255);
  --ios-blue-alpha: #008cff34;
  --ios-blue-alpha-2: #5d55c225;
  --color-muted-2: #070101a9;
  --blue: hsl(240, 100%, 50%);
  --white: white;
}

body {
  --mainColor: rgb(0, 123, 255);
  --bg-color: hsl(0, 0%, 100%);
  --item-color: hsl(0, 0%, 0%);
  --color-muted: hsl(0, 0%, 28%);
  --accent: hsl(211, 100%, 50%);
  --hover-color: hsla(213, 14%, 52%, 0.102);
  --navBg: hsla(0, 0%, 98%, 0.451);
  --brBg: 1px solid rgba(0, 0, 0, 0.15);
  --bsBg: 0 10px 30px rgba(0, 0, 0, 0.15);



  --menu: #007AFF;
  --span: #0004ff;
  --button: #007AFF;
  --border: hsla(223, 84%, 5%, 0.103);
  --color-muted-3: #e7e7e7;
  --color-muted-4: #000000;
  --glass-background: #fafafa73;
  --glass-border: rgba(133, 133, 133, 0.589);
  --card-color: rgba(0, 0, 0, 0.0);
  --card-border: rgba(194, 194, 194, 0.589);
  --card-hover: #0070f31a;
  --container-color: #f0f1ff;
  --card-linear: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  --text-gradient: linear-gradient(90deg, rgb(0, 0, 0), rgb(116, 111, 111));
}

body.dark {
  --mainColor: rgb(0, 123, 255);
  --bg-color: hsl(225, 89%, 4%);
  --item-color: hsl(0, 0%, 100%);
  --color-muted: hsl(0, 0%, 60%);
  --accent: hsl(61, 100%, 50%);
  --hover-color: hsla(229, 5%, 55%, 0.255);
  --navBg: hsla(225, 20%, 12%, 0.65);
  --brBg: 1px solid rgba(255, 255, 255, 0.08);
  --bsBg: 0 10px 30px rgba(0, 0, 0, 0.6);

  --color-muted-3: #000000;
  --menu: #1b08ccb2;
  --span: #15ff00;
  --border: hsla(220, 2%, 73%, 0.103);
  --color-muted-4: #bbbbbb;
  --glass-background: rgba(14, 6, 43, 0.233);
  --glass-border: rgba(20, 35, 66, 0.712);
  --card-color: rgba(225, 225, 225, 0.03);
  --card-border: rgba(7, 1, 44, 0.589);
  --container-color: #05050c;
  --card-linear: linear-gradient(to left top, #000000c4, #001130);
  --text-gradient: linear-gradient(90deg, rgb(160, 158, 158), rgb(59, 59, 59));
}